@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.modal-open {
  overflow: hidden;
}

.nobar::-webkit-scrollbar {
  display: none;
}

.bgC1{
  background: radial-gradient(ellipse at center, #3f3f3f 10%, #1f1f1f);
}

.bgC2{
  background: radial-gradient(ellipse at center, #114978 20%, #042743);
}

.contact{
  background: rgba(0, 0, 0, 0.7) url('./Images/mapImg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box input, textarea{
  background: none;
}